@font-face {
	src: url("fonts/CrimsonPro-VariableFont_wght.ttf"); /* Crimson Pro ExtraLight */
}

.mu-display {
	-fx-font: 72 "Crimson Pro ExtraLight";
}

.mu-text {
	-fx-font: 24 "Crimson Pro ExtraLight";
}

.mu-box {
	-fx-alignment: top-center;
}

.debug-vbox {
	-fx-fill-width: true;	
}

.debug-item {
	-fx-background-color: white;
}

.debug-item .label {
	-fx-font: 18 "Georgia";
}

.simple-debug-item {
	-fx-fill-height: false;
	-fx-alignment: center-left;
	-fx-padding: 0 4 0 4;
	-fx-spacing: 4;
}

.simple-debug-item:hover {
	-fx-background-color: lightblue;
}

.spawn-projectile-hbox {
	-fx-spacing: 4;
	-fx-fill-height: true;
	-fx-alignment: center-left;
	-fx-padding: 0 2 0 2;
}

.feeder-pane {
	-fx-padding: 8;
	-fx-background-color: rgb(120, 120, 120);
	-fx-background-radius: 8;
	-fx-border-insets: 2;
	-fx-border-radius: 6;
	-fx-border-width: 2;
	-fx-border-color: #ffe975;
}

.feeder-pane .label {
	-fx-font: 18 "Georgia";
	-fx-text-fill: white;
}

.feeder-pane .title-bar {
	-fx-spacing: 6;
	-fx-padding: 0 0 2 0;
}

.feeder-pane .title-bar .label {
	-fx-font: 24 "Georgia";
}

.feeder-pane .level-box {
	-fx-padding: 4 0 0 0;	
}

.feeder-pane .level-box .layer-1 {
	-fx-spacing: 4;	
}

.feeder-pane-button {
	-fx-alignment: center;
	-fx-background-color: #32abe3;
	-fx-border-width: 2;
	-fx-border-color: #1d90c4;
	-fx-border-radius: 1;
}

.feeder-pane-button .graphic {
	-fx-alignment: center;	
}

.feeder-pane-button .graphic .label {
	-fx-text-fill: gold;
}

.feeder-pane-button .cost {
	-fx-font-weight: bold;
}

.feeder-pane-button:disabled {
	-fx-background-color: blue;	
}

.feeder-pane-button:hover {
	-fx-background-color: #1db3c4;	
	-fx-border-color: #1b919e;
}

.upgrades-pane .upgrades-column {
	-fx-padding: 20;
}

.upgrade-display .outer-hbox,
.upgrade-display .inner-hbox {
	-fx-alignment: center-left;
	-fx-spacing: 8;	
}

.upgrade-display .inner-hbox .label {
	-fx-font-weight: bold;	
}

.upgrade-display .button {
	-fx-font: 24 "Georgia";
}

.upgrades-tab .label {
	-fx-font: 24 "Georgia";
	-fx-text-fill: black;
}

.upgrade-display .label {
	-fx-font: 18 "Georgia";
	-fx-text-fill: black;
}