@font-face {
	src: url("fonts/CrimsonPro-VariableFont_wght.ttf"); /* Crimson Pro ExtraLight */
}

.mu {
	-fx-font: 72 "Crimson Pro ExtraLight";
}

.debug-menu .label {
	-fx-font: 18 "Georgia";
}

.debug-vbox {
	-fx-fill-width: true;	
}

.simple-debug-item {
	-fx-background-color: white;
	-fx-fill-height: false;
	-fx-alignment: center-left;
	-fx-padding: 0 4 0 4;
	-fx-spacing: 4;
}

.simple-debug-item:hover {
	-fx-background-color: lightblue;
}